<div class="signup">  <h3 id = "h3">Welcome to RACI App</h3>
  <input [(ngModel)]="register.first_name" type="text" placeholder="First Name"><br>
  <input [(ngModel)]="register.last_name" type="text" placeholder="Last Name"><br>
  <input [(ngModel)]="register.password1" type="password" placeholder="Password"><br>
  <input [(ngModel)]="register.password2" type="password" placeholder="Repeat Password"><br>
  <input [(ngModel)]="register.email" type="email" placeholder="E-mail Address"><br>
  <input [(ngModel)]="register.phone_number" type="number" placeholder="Phone Number"><br>
  <button class = "button" (click)="registerUser()" type="button" name="button">Register User</button>
</div>
